/*main.css*/
*:focus {outline: none} 
body {
	font-size:.24rem;
	background:#fff
	color: #ccc;
}
*:focus {outline: none} 
a,address,article,aside,audio,blockquote,body,button,canvas,caption,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,iframe,input,legend,li,main,nav,ol,p,pre,progress,section,select,label,summary,table,td,textarea,th,ul,video {
	margin:0;
	padding:0;
	font-weight:400;
	font-style:normal;
	font-family:inherit;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
footer, header {
	margin-left:-3.75rem
}
header,header h3 {
	font-size:.36rem
}
header {
	width:7.5rem;
	height:.88rem;
	position:fixed;
	top:0;
	left:50%;
	z-index:999;
	background-color:#7FCA7F
}
.fixed {
	width:7.5rem;
	position:fixed;
	left:50%;
	margin-left:-3.75rem;
	z-index:999;
	background-color: #fff;
}
header h3 {
	text-align:center;
	width:100%;
	line-height:.88rem;
	color:#fff
}
.h40 {
	width:100%;
	height:.88rem
}
.f40 {
    width: 100%;
    height: 60px;
}
.page1 .f40 {
	width:100%;
	height:3.5rem
}
.page1 {
	width:7.5rem;
	margin-left:auto;
	margin-right:auto
}
.page1 .course {
	margin: 0.4em;
}
.page1 .course label {
    color: #7FCA7F;
    line-height: 0.8rem;
    text-align: center;
    float: left;
    width: 25%;
    height: 0.8rem;
    background-color: #fff;
    border: .01rem solid #ccc;
    border-top-left-radius: 0.06rem;
    border-bottom-left-radius: 0.06rem;
    border-right: none;
}
.page1 .course .line {
    border-left: 0.02em solid #ccc;
    width: 0.01rem;
    margin-top: 0.03rem;
    margin-left: -0.03rem;
    height: 0.74rem;
    float: left;
}
.page1 .course select {
    line-height: 0.8rem;
    height: 0.8rem;
	width: 75%;
    border-left: none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    outline: none
}
.page1 .students .student .student_img {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/student_img.png") center no-repeat;
    float: left;
}
.page1 .students .student .student_name {
    color: #7FCA7F;
    padding-left: 1.5rem;
    padding-top: .3rem;
    width: 5rem;
}
.page1 .students .student .student_checkbox {
	outline: none;
	float: right;
}
.page1 .students .student .student_number {
    padding-left: 1.5rem;
    padding-top: .15rem;
    width: 5rem;
}

.page1 .students .student .student_detail {
    margin-left: 1.5rem;
    margin-top: .15rem;
    width: 1.5rem;
    text-align: center;
    border: .02rem solid #ccc;
    border-radius: .05rem;
}
.page1 .students .student .line {
    width: 100%;
    height: 0;
    border-bottom: 0.01rem solid #ccc;
    margin-top: 0.1rem;
}
.page1 .information {
	color: #7FCA7F;
	width:7.5rem;
	position:fixed;
	bottom:0;
	left:50%;
	z-index:999;
	background-color:#fff
}
.page1 .information .number_check {
	height: 0.3rem;
	line-height: 0.3rem;
}
.page1 .information .number_check .number{
	float: left;
	margin-left: 0.2rem
}
.page1 .information .number_check .check_all{
	float: right;
	padding: 0 0.1rem
}
.page1 .information .number_check .checkbox{
	outline: none;
	float: right;
	margin: 0
}
.page1 .information .information_content{
	height: 2rem;
	margin: 0.1rem
}
.page1 .information .information_content span{
	margin: 0.1rem;
	display: block;
}
.page1 .information .information_content textarea {
    margin: 0.1rem;
    width: 7.1rem;
    height: 1.5rem;
    resize: none;
}
.page1 .information .send {
	height:.77rem;
	background-color:#7FCA7F;
	color:#fff;
	text-align: center;
	line-height: .77rem;
}

.page2 {
	width:7.5rem;
	margin-left:auto;
	margin-right:auto
}
.page2 .time {
	margin: 0.4em;
}
.page2 .time select {
    line-height: 0.8rem;
    height: 0.8rem;
    width: 30%;
    outline: none;
}
.page2 .time .search {    
	line-height: 0.8rem;
    height: 0.8rem;
    width: 65%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    float: right;
    margin: 0;
}
.page2 .time .search .text {
	height:0.8rem;
	width: 83%;
	border-radius:.1rem;
    outline: none;
}
.page2 .time .search .submit {
	height:0.8rem;
	width:15%;
	border-radius:.1rem;
    outline: none;
}
.page2 .students .student .student_img {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/student_img.png") center 20% no-repeat;
    background-size: 80%;
    float: left;
}
.page2 .students .student .student_name {
    color: #7FCA7F;
    padding-left: 1.5rem;
    padding-top: .2rem;
    width: 5rem;
}

.page2 .students .student .student_number {
    padding-left: 1.5rem;
    padding-top: .1rem;
    width: 5rem;
}

.page2 .students .student .message {
    margin-left: 1.5rem;
    margin-top: .15rem;
    border-radius: .05rem;
    margin-bottom: .15rem;
}
.page2 .students .student .line {
    width: 100%;
    height: 0;
    border-bottom: 0.01rem solid #ccc;
    margin-top: 0.1rem;
}
.page10 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto;
}
.page10 .username{
    color: #06AD13;
    flex: 1;
}
.page10 .text{
    flex: 3;
}
.page10 .panel {
    bottom: 0;
}
.page10 .panel span {
    color: #06AD13;
}
.page10 .panel form {
    margin: 0;
}
.page10 .panel textarea {
    width: 100%;
    height: 130px;
    resize: none;
    outline: none;
}
.page10 .fill {
    height: 204.8px;
}
.page11 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto;
}
.page11 .panel {
    padding-top: 75px;
}
.page11 .nav-tabs {
    text-align: center;
    margin:0 5% 0;
}
.page11 .nav-tabs>li.teacher {
    width: 40%;
    text-align: center;
    margin-left: 10%;
}
.page11 .nav-tabs>li.student {
    width: 40%;
    text-align: center;
    margin-right: 10%;
}
.page11 .form {
    border:1px solid #ccc;
    margin:0 5% auto;
    border-top: none;
}
.page11 .weui-cell__hd {
    text-align: center;
    width: 20%;
}
.page11 .weui-cell__bd {
    width: 80%;
    text-align: center;
}
.page11 .form select {
    width: 80%;
    height: 30px;
    margin: 0;
}
.page11 .form input {
    width: 80%;
    height: 30px;
    margin: 0;
}
.page11 .weui-cell {
    height: 50px;
    line-height: 50px;
}
.page12 {
	width:7.5rem;
	margin-left:auto;
	margin-right:auto
}
.page12 .panel {
    height: 118px;
}
.page12 .class {
    padding: 7.2px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    top: 75.38px;
}
.page12 .class label {
    color: #7FCA7F;
    line-height: 60px;
    text-align: center;
    float: left;
    width: 25%;
    height: 60px;
    background-color: #fff;
    font-size: 20px;
    /* border: .1rem solid #ccc; */
    /* border-top-left-radius: 0.06rem; */
    /* border-bottom-left-radius: 0.06rem; */
    /* border-right: none; */
}
.page12 .class select {
    line-height: 60px;
    height: 60px;
    width: 75%;
    /* border-left: none; */
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    outline: none;
}
.page12 .fill01 {
    width: 100%;
    height: 118px;
}
.page12 .timetable {
	text-align: center;
}
.page12 .timetable .time {
    padding: 0.1rem;
    /*top: 2rem;*/
    /* width: auto; */
    /* margin-left: -1.55rem; */
}
.page12 .timetable .time select{
     width: auto;
}
.page12 .timetable .time option{
	text-align: center;
}
.page12 .timetable .table {
    background-color: #eaf0f0;
    border-top: none;
}
.page12 .timetable .table thead {
    border-top: 1px solid #ccc;
    height: 36px;
    /* top: 3rem; */
}
.page12 .timetable .table .add {
	background: url("../img/add.jpg") no-repeat center;
	background-size: 100% 100%;
}
.page12 .timetable .table th{
	text-align: center;
	width: 1rem;
}
.page12 .timetable .table .fill02 {
    width: 100%;
    height: 36px;
}
.page12 .timetable .table td.number {
    /* text-align: center; */
    /* height: 1.5rem; */
    /* width: .5rem; */
    line-height: 83px;
}
.page12 .timetable .table td {
    text-align: center;
    height: 100px;
    width: 70px;
    font-size: 10px;
    line-height: 18px;
    padding: 5px;
}
.page12 .timetable .table td.check{
	background: #8AF07F center no-repeat;
	background-size: 100% 100%;
	border-radius: .1rem;
}
.page12 footer {
    color: #7FCA7F;
    width: 7.5rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999;
    height: 60px;
    background-color: #fff
}
.page12 footer .send {
    height: 60px;
    background-color: #7FCA7F;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
.page13 {
	width:7.5rem;
	margin-left:auto;
	margin-right:auto
}
.page13 label{
	font-size: 17px;
	height: 23px;
	line-height: 23px;
	position: relative;
}
.page13 .weui-cell__hd{
	height: 23px;
}
.page13 .weui-cell__bd {
	height: 23px;
}
.page13 input {
	font-size: 17px;
	height: 23px;
	line-height: 23px;
	outline: none;
}
.page13 select {
	width: 60px;
}