/*main.css*/
*:focus {outline: none} 
body {
    background:#fff
    color: #ccc;
}
*:focus {outline: none} 
a,address,article,aside,audio,blockquote,body,button,canvas,caption,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,iframe,input,legend,li,main,nav,ol,p,pre,progress,section,select,label,summary,table,td,textarea,th,ul,video {
    margin:0;
    padding:0;
    font-weight:400;
    font-style:normal;
    font-family:inherit;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
footer, header {
    margin-left:-3.75rem
}
header,header h3 {
    font-size:.36rem
}
header {
    width:7.5rem;
    height:.88rem;
    position:fixed;
    top:0;
    left:50%;
    z-index:999;
    background-color:#7FCA7F
}
.fixed {
    width:7.5rem;
    position:fixed;
    left:50%;
    margin-left:-3.75rem;
    z-index:999;
    background-color: #fff;
}
header h3 {
    text-align:center;
    width:100%;
    line-height:.88rem;
    color:#fff
}
.h40 {
    width:100%;
    height:.88rem
}
.f40 {
    width: 100%;
    height: 60px;
}
.page1 .f40 {
    height: 222px;
}
.page1 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page1 .course {
    margin: 10px;
}
.page1 .course label {
    color: #7FCA7F;
    line-height: 60px;
    text-align: center;
    float: left;
    width: 25%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
.page1 .course .line {
    border-left: 1px solid #ccc;
    width: 1px;
    margin-top: 5px;
    margin-left: -5px;
    height: 50px;
    float: left;
}
.page1 .course select {
    line-height: 60px;
    height: 60px;
    width: 75%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}
.page1 .students .student {
    position: relative;
}
.page1 .students .student .stu {
    width: 100%;
    height: 95px;
}
.page1 .students .student .student_img {
    margin-top: 4px;
    width: 90px;
    height: 90px;
    background: url(../img/student_img.png) center no-repeat;
    background-size: 100% 100%;
    float: left;
    border-radius: 45px;
    border: 1px solid transparent;
}
.page1 .students .student .student_name {
    color: #7FCA7F;
    padding-left: 95px;
    padding-top: 10px;
    width: 375px;
}
.page1 .students .student .student_checkbox {
    outline: none;
    /* float: right; */
    position: absolute;
    right: 20px;
    top: 1px;
    zoom: 150%;
}
.page1 .students .student .student_number {
    padding-left: 95px;
    padding-top: 10px;
    width: 375px;
}

.page1 .students .student .student_detail {
    position: absolute;
    left: 1.5rem;
    top: 1.15rem;
    width: 1.5rem;
    text-align: center;
    border: .02rem solid #ccc;
    border-radius: .05rem;
}
.page1 .students .student .line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}
.page1 .information {
    color: #7FCA7F;
    width:7.5rem;
    position:fixed;
    bottom:0;
    left:50%;
    z-index:999;
    background-color:#fff
}
.page1 .information .number_check {
    height: 20px;
    line-height: 20px;
}
.page1 .information .number_check .number {
    float: left;
    margin-left: 15px;
}
.page1 .information .number_check .check_all {
    float: right;
    padding: 0 10px;
    /* font-size: 20px; */
}
.page1 .information .number_check .checkbox {
    outline: none;
    float: right;
    margin-top: -3px;
    margin-right: 20px;
    zoom: 150%;
}
.page1 .information .information_content {
    /* height: 150px; */
    margin: 5px;
}
.page1 .information .information_content span {
    margin-left: 10px;
    display: block;
    float: left;
}
.page1 .information .information_content textarea {
    margin: 1px;
    width: 100%;
    height: 112px;
    resize: none;
}
.page1 .information .send {
    height: 50px;
    background-color: #7FCA7F;
    color: #fff;
    text-align: center;
    line-height: 50px;
}


.page2 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page2 .time {
    margin: 0.4em;
}
.page2 .time select {
    line-height: 0.8rem;
    height: 0.8rem;
    width: 30%;
    outline: none;
}
.page2 .time .search {    
    line-height: 0.8rem;
    height: 0.8rem;
    width: 70%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    float: right;
    margin: 0;
}
.page2 .time .search .text {
    margin-bottom: 0.3rem;
    margin-left: 0.1rem;
    height:0.8rem;
    width:83%;
    border-radius:.1rem;
    font-size: 16px;
    min-height: 32px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in 0;
    vertical-align: middle;
}
.page2 .time .search .submit {
    margin-bottom: 0.3rem;
    height:0.8rem;
    width:11%;
    border:none;
    background-color: #fff;
    color: #7FCA7F;
    font-size: 16px;
    margin-right: 0.1rem;
}
.page2 .student.show {
    background-color: #aabeff;
    color: #fff;
}
.page2 .students .student.show .student_name {
    color: #fff;
}
.page2 .students .student.show .line {
    background-color: #f4f8f9
}
.page2 .weui-cells {
    width: 100%;
    transition: all 2s;
    transition: all 2s;
    -moz-transition: height 2s; /* Firefox 4 */
    -webkit-transition: height 2s; /* Safari and Chrome */
    -o-transition: height 2s; /* Opera */
}
.page2 .weui-cells.show {
    height: auto;
}
.page2 .weui-cell {
    color: #000;
    background-color: #f4f8f9
}
.page2 .students .student .student_img {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/student_img.png") center 20% no-repeat;
    background-size: 80%;
    float: left;
}
.page2 .students .student .student_name {
    color: #7FCA7F;
    padding-left: 5px;
    padding-top: 5px;
    width: 200px;
}
.page2 .students .student .student_detail {
    margin-left: auto;
    margin-right: 11.250px;
    /* margin-top: .15rem; */
    width: 112px;
    text-align: center;
    height: 0;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #999;
    transition:all 2s;
    -moz-transition:all 2s; /* Firefox 4 */
    -webkit-transition:all 2s; /* Safari and Chrome */
    -o-transition:all 2s; /* Opera */
}
.page2 .students .student .student_detail.show {
    height: 30px;
    border: 1px solid #ccc;
}
.page2 .students .student .student_number {
    padding-left: .1rem;
    padding-top: .1rem;
    width: 5rem;
}
.page2 .students .student .message {
    margin-left: 10px;
    margin-top: 10px;
    line-height: 25px;
    font-size: 17px;
    /* margin-bottom: .15rem; */
}
.page2 .students .student .line {
    width: 100%;
    height: 0;
    border-bottom: 0.01rem solid #ccc;
    padding-top: 0.1rem;
}
.page2 .weui-cells {
    margin-top: 0;
}
.page2 img {
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 16px;
    width: 16px
}
.page2 .name {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
}
.page2 .weui-cell__ft {
    font-size: 16px
}
.page3 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page3 .time {
    margin: 0.4em;
}
.page3 .students .student .student_img {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/student_img.png") center no-repeat;
    background-size: 100% 100%;
    float: left;
}
.page3 .students .student .student_text {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
    line-height: 1.5rem;
    font-size: 1.5rem;
    border-top: 1px solid red;
    margin-top: 1rem;
    padding: 1px
}
.page3 .time .search {    
    line-height: 0.8rem;
    height: 0.8rem;
    width:100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    float: right;
    margin: 0;

}
.page3 .time .search .text {
    /*margin-left: 0.1rem;*/
    height:0.8rem;
    width:87%;
    border-radius:.1rem;
    font-size: 16px;
    min-height: 32px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in 0;
    vertical-align: middle;
}
.page3 .time .search .submit {
    height:0.8rem;
    width:10%;
    border:none;
    background-color: #fff;
    color: #7FCA7F;
    font-size: 16px;
    /*margin-right: 0.1rem;*/
}

.page3 .students .student .student_name {
    color: #7FCA7F;
    padding-left: .1rem;
    padding-top: .2rem;
    width: 5rem;
}
.page3 .students .student .student_detail {
    margin-left: auto;
    margin-right: .15rem;
    /* margin-top: .15rem; */
    width: 1.5rem;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    border: .02rem solid #ccc;
    border-radius: .05rem;
    font-size: .2rem;
    color: #999;
}
.page3 .students .student .student_number {
    padding-left: .1rem;
    padding-top: .1rem;
    width: 5rem;
}
.page3 .students .student .message {
    margin-left: .1rem;
    margin-top: .15rem;
    line-height: .4rem;
    font-size: .23rem;
    border-radius: .05rem;
    /*margin-bottom: .15rem;*/
}
.page3 .students .student .line {
    width: 100%;
    height: 0;
    border-bottom: 0.01rem solid #ccc;
    margin-top: 0.1rem;
}
.page3 .information {
    color: #7FCA7F;
    width:7.5rem;
    position:fixed;
    bottom:0;
    left:50%;
    z-index:999;
    background-color:#fff
}
.page3 .information .information_content{
    height: 2rem;
    margin: 0.1rem
}
.page3 .information .information_content span{
    margin-top: 0.05rem;
    margin-left: 0.05rem;
    display: block;
}
.page3 .information .information_content .content{
    margin-left: 0.05rem;
    margin-top: 0.1rem;
    width: 7.1rem;
    height: 1.5rem;
    resize: none;
    line-height: 0.4rem;
}
.page4 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page4 .students .student.check {
    background: #aabeff;
    color: #fff;
}
.page4 .students .student.check .class_name{
    color: #fff;
}
.page4 .students .student {
    background: #eaf0f0;
}
.page4 .students .student .class_name {
    color: #7FCA7F;
    padding-top: .2rem;
    margin-left: .1rem;
    width: 5rem;
}
.page4 .students .student .student_checkbox {
    outline: none;
    float: right;
    margin-right: 15px;
    zoom: 150%;
}
.page4 .students .student .class_time {
    padding-top: .15rem;
    margin-left: .1rem;
    width: 5rem;
}

.page4 .students .student .class_number {
    padding-top: .15rem;
    margin-left: .1rem;
    width: 5rem;
}
.page4 .students .student .line {
    width: 100%;
    height: 0;
    border-bottom: 0.01rem solid #ccc;
    margin-top: 0.2rem;
}
.page4 .information {
    color: #7FCA7F;
    width:7.5rem;
    position:fixed;
    bottom:0;
    left:50%;
    z-index:999;
    background-color:#fff
}
.page4 .information .send {
    height:.77rem;
    background-color:#7FCA7F;
    color:#fff;
    text-align: center;
    line-height: .77rem;
}
.page5 .f40 {
    width:100%;
    height:3.5rem
}
.page5 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page5 .students .student {
    border-bottom:6px solid #ccc;
}
.page5 .students .student .activity_img {
    width: 100%;
    height: 220px;
    background: url("../img/new1.png") center no-repeat;
    float: left;
}
.page5 .students .student .activity_name {
    color: #7FCA7F;
    padding-left: 20px;
    padding-top: 230px;
    width: 5rem;
}
.page5 .students .student .content {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
    width: 95%;
}
.page6 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page6 .students .student .activity_img {
    width: 100%;
    height: 220px;
    background: url("../img/new1.png") center no-repeat;
    float: left;
}
.page6 .students .student .activity_name {
    color: #7FCA7F;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 5rem;
}
.page6 .students .student .content {
    margin-top: 260px;
    margin-left: 20px;
    padding-bottom: 10px;
    line-height: 25px;
    width: 530px;
}
.page6 .review .goodreview {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ccc;
}
.page6 .write {
    width: 100%;
    height: 60px;
}
.page6 .write .write_review {
    float: right;
    color: #ccc;
    margin-right: 15px;
}
.page6 .write .write_img {
    width: 20px;
    height: 20px;
    background: url("../img/pen_img.png") center no-repeat;
    float: right;
    margin-right: 5px;
}
.page6 .review .review_user {
    width: 95%;
    height: 95px;
    margin-left: 20px;
    margin-bottom: 45px;
}
.page6 .review .review_user .review_img {
    width: 55px;
    height: 55px;
    background: url("../img/student_img.png") center no-repeat;
    float: left;
}
.page6 .review .review_user .review_name {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 100px;
    float: left;
}
.page6 .review .review_user .review_content {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 100px;
    float: left;
}
.page6 .review .review_user .review_time {
    font-size: 16px;
    color: #ccc;
    margin-left: 75px;
    margin-top: 15px;
    padding-right: 400px;
    float: left;
}
.page6 .review .review_user .author .author_img {
    width: 30px;
    height: 30px;
    background: url("../img/author_img.png") center no-repeat;
    float: left;
    margin-left: 70px;
    margin-top: 10px;
}
.page6 .review .review_user .author .author_name {
    font-size: 16px;
    margin-top: 15px;
    padding-right: 200px;
    float: left;
}
.page6 .review .review_user .author .author_content {
    font-size: 16px;
    /*margin-left: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 100px;
    float: left;
}
.page7 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto;
}
.page7 .logo .logo_img {
    width: 250px;
    height: 270px;
    background: url("../img/logo_img.png") center no-repeat;
    margin-left: 150px;
    margin-top: 100px;
}
.page7 .information .information_content {
    color: #323e48;
    height: 2rem;
    margin: 0.1rem
}
.page7 .information .information_content span{
    margin-left: 0.2rem;
    letter-spacing:5px;
    display: block;
}
.page7 .information .information_content textarea {
    margin: 0.2rem;
    width: 6.9rem;
    height: 4rem;
    resize: none;
}
.page7 .information .send {
    height:.5rem;
    width: 6.5rem;
    background-color:#7FCA7F;
    color:#fff;
    text-align: center;
    line-height: .5rem;
    margin-top: 210px;
    margin-left: 40px;
    border-radius: 5px;
    letter-spacing:9px;
}
.page10 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto;
}
.page10 .username{
    color: #06AD13;
    flex: 1;
}
.page10 .text{
    flex: 3;
}
.page10 .panel {
    bottom: 0;
}
.page10 .panel span {
    color: #06AD13;
}
.page10 .panel form {
    margin: 0;
}
.page10 .panel textarea {
    width: 100%;
    height: 130px;
    resize: none;
    outline: none;
}
.page10 .fill {
    height: 204.8px;
}
.page11 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto;
}
.page11 .panel {
    padding-top: 75px;
}
.page11 .nav-tabs {
    text-align: center;
    margin:0 5% 0;
}
.page11 .nav-tabs>li.teacher {
    width: 40%;
    text-align: center;
    margin-left: 10%;
}
.page11 .nav-tabs>li.student {
    width: 40%;
    text-align: center;
    margin-right: 10%;
}
.page11 .form {
    border:1px solid #ccc;
    margin:0 5% auto;
    border-top: none;
}
.page11 .weui-cell__hd {
    text-align: center;
    width: 20%;
}
.page11 .weui-cell__bd {
    width: 80%;
    text-align: center;
}
.page11 .form select {
    width: 80%;
    height: 30px;
    margin: 0;
}
.page11 .form input {
    width: 80%;
    height: 30px;
    margin: 0;
}
.page11 .weui-cell {
    height: 50px;
    line-height: 50px;
}
.page12 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page12 .panel {
    height: 118px;
}
.page12 .class {
    padding: 7.2px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    top: 75.38px;
}
.page12 .class label {
    color: #7FCA7F;
    line-height: 60px;
    text-align: center;
    float: left;
    width: 25%;
    height: 60px;
    background-color: #fff;
    font-size: 20px;
    /* border: .1rem solid #ccc; */
    /* border-top-left-radius: 0.06rem; */
    /* border-bottom-left-radius: 0.06rem; */
    /* border-right: none; */
}
.page12 .class select {
    line-height: 60px;
    height: 60px;
    width: 75%;
    /* border-left: none; */
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    outline: none;
}
.page12 .fill01 {
    width: 100%;
    height: 118px;
}
.page12 .timetable {
    text-align: center;
}
.page12 .timetable .time {
    padding: 0.1rem;
    /*top: 2rem;*/
    /* width: auto; */
    /* margin-left: -1.55rem; */
}
.page12 .timetable .time select{
     width: auto;
}
.page12 .timetable .time option{
    text-align: center;
}
.page12 .timetable .table {
    background-color: #eaf0f0;
    border-top: none;
}
.page12 .timetable .table thead {
    border-top: 1px solid #ccc;
    height: 36px;
    /* top: 3rem; */
}
.page12 .timetable .table .add {
    background: url("../img/add.jpg") no-repeat center;
    background-size: 100% 100%;
}
.page12 .timetable .table th{
    text-align: center;
    width: 74px;
    background-color: #f4f8f9;
}
.page12 .timetable .table .fill02 {
    width: 100%;
    height: 36px;
}
.page12 .timetable .table .number {
    /* text-align: center; */
    /* height: 1.5rem; */
    /* width: .5rem; */
    width: 45px;
    line-height: 89px;
    font-size: 20px;
    text-align: center;
    background-color: #f4f8f9;
    border: none;
}
.page12 .timetable .table td {
    height: 100px;
    width: 74px;
    font-size: 10px;
    line-height: 18px;
    padding: 5px;
}
.page12 .timetable .table td.check{
    background: #aabeff center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #fff;
    border-radius: 10px;
}
.page12 .timetable .table td.selected{
    background: #e6a5f5 center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #fff;
    border-radius: 10px;
}
.page12 footer {
    color: #7FCA7F;
    width: 7.5rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999;
    height: 60px;
    background-color: #fff
}
.page12 footer .send {
    height: 60px;
    background-color: #7FCA7F;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
.page12 .js_dialog select{
    width: 110px;
    float: left;
    padding: 0 2%;
    margin: 0;
}
.page12 .js_dialog select.sel01{
    width: 178px;
}
.page12 .js_dialog select.sel02{
    width: 80px;
}
.page12 .js_dialog select option{
    text-align: center;
}
.page12 .js_dialog span{
    width: 15px;
    float: left;
}
.page12 .js_dialog label{
    float: left;
    height: 30px;
    line-height: 30px;
}
.page12 .js_dialog input{
    float: left;
    width: 178px;
    height: 30px;
}
/*student*/
.page12 .center {
    text-align: center;
}
.page12 .weui-flex {
    border-bottom: 1px solid #ccc;
}
.page12 .panel.stu {
    height: 77px;
}
.page12 .fill01.stu {
    height: 77px;
}
.page13 {
    width:7.5rem;
    margin-left:auto;
    margin-right:auto
}
.page13 label{
    font-size: 17px;
    height: 23px;
    line-height: 23px;
    position: relative;
}
.page13 .weui-cell__hd{
    height: 23px;
}
.page13 .weui-cell__bd {
    height: 23px;
}
.page13 input {
    font-size: 17px;
    height: 23px;
    line-height: 23px;
    outline: none;
}
.page13 select {
    width: 60px;
}